.login {
  min-height: 600px;
  background-color: lightgreen; }

.game-grid {
  min-height: 600px;
  background-color: lightblue; }

.jumbotron .container {
  text-align: center;
  min-height: 300px; }

.hidden {
  display: none; }
